.cabeçalho_lista {
    background-color: rgb(74, 91, 92);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
    }

    .cabeçalho_imagem {
        background-image: url(https://img.myloview.com.br/adesivos/letras-de-vetor-de-grafite-de-rua-700-123720631.jpg);
    width: 25%;
    height: 25%;
    }
    
    .itens{
    display: inline-block;
    margin: 0 32px;
    font-size: 30px;
    
    }
    
    * {
    margin: 0 16px;
    padding: 24px 0;
    }